<div{{ attributes }} {{ name }} data-modal class="js-popup-cover {% if open is defined and open == true %} open {% endif %} z-50 lg:z-30 fixed flex justify-center items-center top-0">
    <div class="js-popup rounded-lg flex flex-col dark:text-blue-50">
        <div class="flex justify-between items-center h-12 mx-1 px-2 border-b dark:border-blue-450 text-2xl lg:text-xl">
            <div>{{ title }}</div>
            <button {{ name }}-close class="js-close-me relative bottom-2 right-4 lg:bottom-0 lg:right-0">
                <i class="text-5xl lg:text-2xl gf gf-close"></i>
            </button>
        </div>
        <div class="flex gap-4 p-4">
            <div>
                <i class="text-5xl lg:text-5xl gf gf-info"></i>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
        {% if form is defined and form_name is defined %}
        <div class="px-4 pb-4">
            {{ component(form_name, {
                form: form
            }) }}
            <button {{ name }}-close type="button" class="btn btn-red">Anuluj</button>
        </div>

        {% endif %}
    </div>
</div>